extends layout

block content
	div.medioRecetas
		div.lineaRecetas
			div.elementoRecetas
				h1 Pavo al horno
				img.imagenReceta(src='https://bit.ly/35D4l2B')
				br
				a.linkReceta(href='https://bit.ly/2Z1vf1U') Ver receta
			div.elementoRecetas
				h1 Pan de jamón
				img.imagenReceta(src='https://cutt.ly/drz8c1v')
				br
				a.linkReceta(href='https://cutt.ly/6rz8vH3') Ver receta
			div.elementoRecetas
				h1 Pandoro
				img.imagenReceta(src='https://cutt.ly/srz8nge')
				br
				a.linkReceta(href='https://cutt.ly/1rz8m9w') Ver receta
		div.lineaRecetas
			div.elementoRecetas
				h1 Ponche crema
				img.imagenReceta(src='https://cutt.ly/Frz8MTY')
				br
				a.linkReceta(href='https://cutt.ly/Vrz818z') Ver receta
			div.elementoRecetas
				h1 Arroz navideño
				img.imagenReceta(src='https://cutt.ly/orz82Nr')
				br
				a.linkReceta(href='https://cutt.ly/Urz898z') Ver receta
			div.elementoRecetas
				h1 Cordero al horno
				img.imagenReceta(src='https://cutt.ly/Crz4lvh')
				br
				a.linkReceta(href='https://cutt.ly/Frz4xqt') Ver receta			