extends layout

block content
	div.medioRegalos
		div.elemento
			a(href='https://amzn.to/2PGX5fH' target="_blank")
				img.imagenRegalos(src='https://bit.ly/2sjEWMV')
				br
			h1.tituloRegalos Electrónica
		div.elemento
			a(href='https://amzn.to/2LO7hBG' target="_blank")
				img.imagenRegalos(src='https://bit.ly/2RJHXk8')
				br
			h1.tituloRegalos Juguetes
		div.elemento
			a(href='https://amzn.to/34kmSj6' target="_blank")
				img.imagenRegalos(src='https://bit.ly/2M2BjlB')
				br
			h1.tituloRegalos Belleza
		div.elemento
			a(href='https://amzn.to/38Gf3Ym' target="_blank")
				img.imagenRegalos(src='https://bit.ly/2PEBdkT')
				br
			h1.tituloRegalos Moda		


	